/* ------------ typography ------------ */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.intro-heading {
  font-size: 3.2em;
}

.form-button {
  text-transform: uppercase;
  font-weight: bold;
}

.quote-byline {
  font-weight: bold;
}

.quote-link {
  text-decoration: none;
}

.argument-heading {
  font-size: 1.9em;
}

.argument-highlight {
  text-decoration: underline;
}

.credits-heading {
  font-weight: normal;
}

.press-inquiries {
  line-height: 1.25;
}

.press-inquiry-link {
  text-decoration: none;
}



/* ------------ colors ------------ */
body {
  border-top: 1px solid #ff2020;
}

.primary-content {
  background-color: #f6f6f6;
}

.secondary-content {
  background-color: #ffffff;
}

.intro {
  color: #1f1f1f;
}

.intro-svg-line {
  stroke: #6c6c6c;
  stroke-width: 0.25;
}

.form-wrapper {
  background-color: #1f1f1f;
}

.form-header {
  color: #f6f6f6;
}

.form-input {
  color: #1f1f1f;
  background-color: #f6f6f6;
}

.form-input::placeholder {
  color: #1f1f1f;
}

.form-button {
  color: #f6f6f6;
  background-color: #ff1818;
}

.quote-text {
  color: #1f1f1f;
}

.quote-byline,
.quote-link {
  color: #5c5c5c;
}

.quote-byline-svg-line {
  stroke: #1f1f1f;
  stroke-width: 0.25;
}

.secondary-content {
  color: #1f1f1f;
}

.argument-highlight {
  color: #ff1b1b;
}

.credits-contact-wrapper,
.press-inquiry-link {
  color: #ffffff;
}

.credits-contact-wrapper {
  background-color: #1e1e1e;
}

.contact-wrapper,
.press-inquiry-link  {
  background-color: #272727;
}



/* ------------ mobile styles ------------ */
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.section-wrapper {
  width: 90%;
  margin: 0 auto;
}

.primary-content {
  padding: 25px 5px 50px;
}

.intro-summary {
  margin-top: 7px;
}

.form-wrapper  {
  margin-top: 25px;
  padding: 5%;
  width: 90%;
  border-radius: 5px;
}

.form-input {
  width: 96%;
  margin-bottom: 7px;
  height: 30px;
  padding: 2%;
  border-radius: 5px;
  border: none;
}

.form-header {
  margin-bottom: 25px;
}

.form-text-area {
  height: 100px;
}

.form-input::placeholder {
  margin: 7px;
}

.form-button {
  padding: 7px;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.quote-gallery-block {
  margin-top: 75px;
}

.quote-avatar {
  border-radius: 50%;
  width: 25%;
  display: block;
  margin: 0 auto;
}

.quote-text-wrapper {
  margin-top: 15px;
  position: relative;
}

.quotation-mark {
  position: absolute;
  font-size: 6em;
  color: #d4d4d4;
}

.opening-quotation-mark {
  top: -45px;
  left: 0;
}

.closing-quotation-mark {
  bottom: -25px;
  right: 0;
}

.quote-text,
.quote-byline-wrapper {
  width: 85%;
  position: relative;
  margin: 0 auto;
}

.quote-text,
.quote-byline {
  text-align: center;
}

.quote-byline {
  margin-top: 20px;
  font-size: 0.9em;
}

.secondary-content {
  padding: 25px 5px;
}

.supporting-argument {
  margin: 25px 0 50px;
}

.supporting-argument:last-child {
  margin-bottom: 25px;
}

.argument-list {
  padding-left: 0;
  counter-reset: item;
}

.argument-content {
  margin-top: 15px;
}

.argument-list-content {
  list-style-position: inside;
  display: block;
}

.argument-list-content:before {
  content: counter(item) "- ";
  counter-increment: item;
  font-weight: bold;
}

.argument-content:nth-child(2) {
  margin-top: 25px;
}

.credits-contact-wrapper {
  border-right: 5px solid #ff1c20;
}

.credits-wrapper {
  padding: 25px 0;
}

.credits-wrapper,
.press-inquiries {
  width: 90%;
  margin: 0 auto;
}

.credits-wrapper,
.press-inquiries {
  padding-left: 5px;
}

.credits-logo {
  width: 75%;
  margin-top: 5px;
}

.contact-wrapper {
  padding: 15px 0 25px;
}





/* ------------ style for tablet and desktop ------------ */
@media only screen and (min-width: 767px) {
  .primary-content {
    padding: 25px 0 50px;
  }

  .section-wrapper {
    width: 100%;
  }

  .intro {
    max-width: 80%;
    margin: 0 auto;
  }

  .intro-summary {
    max-width: 90%;
    line-height: 1.25;
  }

  .form-wrapper {
    width: 75%;
    padding: 3% 3% 2% 6.5%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 100px;
  }

  .form-header,
  .form-fields-wrapper {
    width: 90%;
    margin: 25px auto 5px;
    margin: 0 auto 3%;
  }

  .form-fields-wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .form-input {
    height: 50px;
    padding-bottom: 10px;
  }

  .form-input::placeholder {
    padding-bottom: 15px;
  }

  .form-input-left {
    flex-basis: 49.5%;
    margin-right: 1%;
  }

  .form-input-right {
    flex-basis: 49.5%;
    position: relative;
  }

  .form-text-area {
    position: absolute;
    height: 89%;
  }

  .form-input-bottom {
    display: flex;
    flex-wrap: flex;
  }

  .input-address {
    flex-grow: 1;
    height: auto;
  }

  .input-zip {
    flex-shrink: 2;
    margin-left: 2%;
  }

  .form-button {
    flex-basis: 100%;
  }

  .quote-gallery-block {
    margin: 0 auto;
    max-width: 80%;
    margin-top: 120px;
  }

  .quotation-mark {
    font-size: 10em;
  }

  .opening-quotation-mark {
    top: -80px;
    left: 0;
  }

  .quote-avatar {
    display: inline-block;
    width: 10%;
    text-align: center;
    vertical-align: top;
  }

  .quote-text-wrapper {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
  }

  .closing-quotation-mark {
    bottom: -155px;
    bottom: -100px;
    right: 4%;
  }

  .quote-text,
  .quote-byline {
    text-align: left;
  }

  .secondary-content {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .supporting-argument {
    width: 85%;
  }

  .argument-content {
    line-height: 1.25;
    margin-top: 25px;
  }

  .credits-contact-wrapper {
    width: 80%;
  }

  .credits-wrapper,
  .press-inquiries {
    padding-left: 12.55%;
  }

  .credits-heading {
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
    padding-top: 4px;
  }

  .credits-logo {
    display: inline-block;
    width: 30%;
  }

  .press-inquiries {
    font-size: 0.75em;
  }
}